---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeBackgroundAnimation from '../components/home/HomeBackgroundAnimation.astro';
import MenuFragment from '../components/menu/MenuFragment.vue';
---

<BaseLayout title="SHANTARAM - Кейтеринг">
    <HomeBackgroundAnimation />
    <main>
        <MenuFragment
          client:only
          title="Кейтеринг"
          menuId="catering" />
    </main>
</BaseLayout>