---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import HomeBackgroundAnimation from '../components/home/HomeBackgroundAnimation.astro';
import HomeHeader from '../components/home/HomeHeader.astro';
import HomeNavigation from '../components/home/HomeNavigation.astro';
import HomeMapSection from '../components/home/HomeMapSection.astro';
import AppFooter from '../components/common/AppFooter.astro';
---

<Layout>
    <HomeBackgroundAnimation />
    <HomeHeader />
    <main>
        <HomeNavigation />
        <HomeMapSection />
    </main>
    <AppFooter />
</Layout>