---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeBackgroundAnimation from '../components/home/HomeBackgroundAnimation.astro';
import HomeHeader from '../components/home/HomeHeader.astro';
import HomeNavigation from '../components/home/HomeNavigation.astro';
import HomeMapSection from '../components/home/HomeMapSection.astro';
import SocialLinks from '../components/common/SocialLinks.astro';
---

<BaseLayout title="SHANTARAM - Главная">
    <HomeBackgroundAnimation />
    <HomeHeader />
    <SocialLinks />
    <main>
        <HomeNavigation />
        <HomeMapSection />
    </main>
</BaseLayout>
