---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeBackgroundAnimation from '../components/home/HomeBackgroundAnimation.astro';
import MenuFragment from '../components/menu/MenuFragment.vue';
---

<BaseLayout title="SHANTARAM - Меню">
    <HomeBackgroundAnimation />
    <main>
        <MenuFragment
          client:only
          title="Меню"
          menuId="main" />
    </main>
</BaseLayout>