---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeBackgroundAnimation from '../components/home/HomeBackgroundAnimation.astro';
import OrderFragment from '../components/order/OrderFragment.vue';
---

<BaseLayout title="SHANTARAM - Заказ">
    <HomeBackgroundAnimation />
    <main>
        <OrderFragment client:only />
    </main>
</BaseLayout>