---
import "../styles/font-awesome.min.css"
import "../styles/fonts.css"
import "../styles/global.css"
// src/layouts/Layout.astro
---

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHANTARAM - Кальянная</title>
</head>
<body>

<slot />

</body>
</html>